* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#555, #292929);
}

label {
    position: relative;
    width: 300px;
    height: 150px;
    background: #3e3e3e;
    box-shadow: 0 0 0 4px #303030;
    border-radius: 75px;
    cursor: pointer;
    display: flex;justify-content: ;
    transition: 0.5s;
}