* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#555, #292929);
}

input[type="checkbox"] {
    position: relative;
    width: 100px;
    height: 40px;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    transition: 0.5s;
    cursor: pointer;
}
